<html>
<body>
    <p>Click the button to get your coordinates.</p>
    <button onclick="getLocation()">getLocation</button>
    <button onclick="sendLocation()">sendLocation</button>
    
    <p id="demo"></p>
    <script type="text/javascript">
        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function sendLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(movePage);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
        function movePage(position){
            console.log("/mapview/"+position.coords.latitude+"/"+position.coords.longitude);
            location.href = "/mapview/"+position.coords.latitude+"/"+position.coords.longitude;
            //location.href = "/";
        }
    </script>
</body>
</html>
